
@lx-school-cls: lx-school;
.@{lx-school-cls} {
  height: 100%;
  width: 100%;
  background: #fff;

  &-changshang {
    margin: 20px;
    &-card {
      font-size: 22px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}